<div class="hidden px-4 lg:block sm:px-6">
  <!-- Container -->
  <div
    class="relative max-w-screen-xl py-5 mx-auto border-b border-purple-200/30"
  >
    <div class="flex items-center justify-between">
      <!-- Site branding -->
      <div class="flex-grow-0 flex-shrink-0 w-60">
        <a href="index.html">
          <img src="images/whale-logo.png" alt="Bright" class="h-12" />
        </a>
      </div>

      <!-- Contact information -->
      <ul class="flex ml-8 lg:space-x-6 xl:space-x-16">
        <!-- Address -->
        <a href="https://wa.me/447835006581" target="_blank">
          <li class="flex flex-shrink-0">
            <div class="flex items-center">
              <span
                class="flex items-center justify-center bg-blue-600 rounded-2xl w-11 h-11"
              >
                <img src="images/whatsapp-business.svg" alt="whatsapp-logo" />
              </span>
            </div>

            <div class="flex-1 ml-3 xl:ml-4">
              <h5 class="flex items-center text-base font-bold text-slate-900">
                WhatsApp
              </h5>
              <p
                class="mt-0.5 text-sm text-slate-800 leading-relaxed text-opacity-90"
              >
                +44 7835 006581
              </p>
            </div>
          </li>
        </a>
        <!-- Email -->
        <li class="flex flex-shrink-0">
          <div class="flex items-center">
            <span
              class="flex items-center justify-center bg-blue-600 rounded-2xl w-11 h-11"
            >
              <!-- TablerIcon name: mail -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 text-blue-50"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <rect x="3" y="5" width="18" height="14" rx="2" />
                <polyline points="3 7 12 13 21 7" />
              </svg>
            </span>
          </div>

          <div class="flex-1 ml-3 xl:ml-4">
            <h5 class="flex items-center text-base font-bold text-slate-900">
              Email
            </h5>
            <p
              class="mt-0.5 text-sm text-slate-800 leading-relaxed text-opacity-90"
            >
              hello@whaleblue.me
            </p>
          </div>
        </li>

        <!-- Phone number -->
      </ul>
    </div>
  </div>
</div>
