<section class="px-4 pb-12 overflow-hidden lg:pt-24 sm:px-6 lg:px-8">
  <!-- Container -->
  <div
    class="max-w-xl mx-auto lg:grid lg:grid-cols-2 lg:gap-10 xl:gap-32 lg:max-w-screen-xl"
  >
    <!-- Hero header -->
    <div class="py-16 lg:pt-6 lg:pb-64">
      <div>
        <span
          class="inline-block px-4 py-2 font-medium text-white bg-blue-500 rounded-full shadow-md -rotate-1"
        >
          Contact us today
        </span>
      </div>
      <h1 class="max-w-md mt-4 text-purple-900 h1">
        We'd love to hear from you
      </h1>
      <p class="max-w-lg mt-3 text-xl leading-relaxed text-purple-800">
        We'll help you find the right plan and pricing for your business.
      </p>
    </div>

    <!-- Contact form container -->
    <div class="relative">
      <!-- Background decorations -->
      <img
        src="images/dots-large-grid.svg"
        class="absolute lg:hidden -right-16 -top-12 sm:-top-16 w-80 lg:left-14 lg:-top-16 lg:w-36 opacity-60"
      />
      <img
        src="images/dots-grid.svg"
        class="absolute hidden w-40 opacity-75 lg:block -right-16 -top-16 lg:left-14 lg:-top-16 lg:w-36"
      />
      <img
        src="images/dots-strip.svg"
        class="absolute hidden w-20 rotate-90 opacity-75 lg:block -right-16 top-1/2"
      />

      <!-- Contact form card -->
      <div
        class="relative z-10 w-full px-4 mx-auto bg-white shadow-xl rounded-3xl lg:mr-0 lg:ml-auto sm:p-16 lg:p-12 xl:p-14"
      >
        <h2 class="text-center font-bold text-lg">
          Book a meeting with us now
        </h2>
        <!-- Start of Meetings Embed Script -->
        <div
          class="meetings-iframe-container"
          data-src="https://meetings-eu1.hubspot.com/mhardman?embed=true"
        ></div>
        <script
          type="text/javascript"
          src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"
        ></script>
        <!-- End of Meetings Embed Script -->
      </div>
    </div>
  </div>
</section>
