<!-- 
  This example uses Alpine.js for the accordion effect in FAQ. If you're
  not familiar with Alpine you can check out their documentation 
  here: https://alpinejs.dev/start-here
-->
<section class="py-20 bg-blue-50 sm:py-28">
  <!-- Container -->
  <div class="px-4 mx-auto lg:max-w-screen-lg sm:px-6 lg:px-8">
    <!-- Section header title and subtext  -->
    <div class="max-w-2xl">
      <h2 class="text-blue-900 h2">Frequently asked questions</h2>
      <!-- <p class='max-w-2xl mt-4 text-xl leading-relaxed text-blue-800 lg:text-left'>
        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
      </p> -->
    </div>

    <!-- FAQ -->
    <ul class="relative mt-12 space-y-6">
      <!-- Decorator images-->
      <div>
        <img
          class="absolute hidden h-auto w-28 -left-60 top-10 2xl:block"
          src="images/question-mark.svg"
          alt=""
        />
        <img
          class="absolute hidden h-auto w-28 -right-60 bottom-10 2xl:block"
          src="images/bulb.svg"
          alt=""
        />
      </div>

      <!-- Question / Answer 1 -->
      <li
        class="w-full px-5 py-6 bg-white sm:px-12 sm:py-8 rounded-3xl"
        x-data="{ open: false }"
      >
        <!-- Question -->
        <button
          class="flex items-center justify-between w-full text-lg sm:text-xl group"
          @click="open = !open"
        >
          <span
            class="font-medium text-left text-blue-900 duration-300 ease-in-out group-hover:text-blue-600"
            >What is Whale Blue?
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-6 ml-3 text-blue-700 duration-300 ease-in-out sm:w-6 sm:h-6 sm:ml-6 group-hover:text-blue-600"
            :class="{'rotate-180': open}"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>

        <!-- Answer -->
        <div
          class="relative overflow-hidden duration-700 max-h-0"
          x-ref="question1"
          x-bind:style="open ? 'max-height: ' + $refs.question1.scrollHeight + 'px' : ''"
        >
          <div class="mt-3 text-base leading-relaxed text-blue-800 sm:text-lg">
            Whale Blue is portfolio management software designed specifically
            for private credit. We only work with the top private credit funds
            this ensures we can provide service that others can't and can
            customise your experience to your exact needs.
          </div>
        </div>
      </li>

      <!-- Question / Answer 2 -->
      <li
        class="w-full px-5 py-6 bg-white sm:px-12 sm:py-8 rounded-3xl"
        x-data="{ open: false }"
      >
        <!-- Question -->
        <button
          class="flex items-center justify-between w-full text-lg sm:text-xl group"
          @click="open = !open"
        >
          <span
            class="font-medium text-left text-blue-900 duration-300 ease-in-out group-hover:text-blue-600"
            >We already have an existing provider, won&apos;t it be too hard to
            switch?</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-6 ml-3 text-blue-700 duration-300 ease-in-out sm:w-6 sm:h-6 sm:ml-6 group-hover:text-blue-600"
            :class="{'rotate-180': open}"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>

        <!-- Answer -->
        <div
          class="relative overflow-hidden duration-700 max-h-0"
          x-ref="question1"
          x-bind:style="open ? 'max-height: ' + $refs.question1.scrollHeight + 'px' : ''"
        >
          <div class="mt-3 text-base leading-relaxed text-blue-800 sm:text-lg">
            We will upload your data for you, we can handle the entire process
            for you and you don't pay anything until it's all set up, so you
            have nothing to loose.
          </div>
        </div>
      </li>

      <!-- Question / Answer 3 -->
      <li
        class="w-full px-5 py-6 bg-white sm:px-12 sm:py-8 rounded-3xl"
        x-data="{ open: false }"
      >
        <!-- Question -->
        <button
          class="flex items-center justify-between w-full text-lg sm:text-xl group"
          @click="open = !open"
        >
          <span
            class="font-medium text-left text-blue-900 duration-300 ease-in-out group-hover:text-blue-600"
            >We have custom reporting requirements, are you able to handle this?
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-6 ml-3 text-blue-700 duration-300 ease-in-out sm:w-6 sm:h-6 sm:ml-6 group-hover:text-blue-600"
            :class="{'rotate-180': open}"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>

        <!-- Answer -->
        <div
          class="relative overflow-hidden duration-700 max-h-0"
          x-ref="question1"
          x-bind:style="open ? 'max-height: ' + $refs.question1.scrollHeight + 'px' : ''"
        >
          <div class="mt-3 text-base leading-relaxed text-blue-800 sm:text-lg">
            Because we only select the best clients we're able to provide a
            bespoke service that others can't. This means we can create custom
            reports, dashboards, whatever you need.
          </div>
        </div>
      </li>

      <!-- Question / Answer 4 -->
      <li
        class="w-full px-5 py-6 bg-white sm:px-12 sm:py-8 rounded-3xl"
        x-data="{ open: false }"
      >
        <!-- Question -->
        <button
          class="flex items-center justify-between w-full text-lg sm:text-xl group"
          @click="open = !open"
        >
          <span
            class="font-medium text-left text-blue-900 duration-300 ease-in-out group-hover:text-blue-600"
            >How can we be sure that all the data and insights are correct?
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-6 ml-3 text-blue-700 duration-300 ease-in-out sm:w-6 sm:h-6 sm:ml-6 group-hover:text-blue-600"
            :class="{'rotate-180': open}"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>

        <!-- Answer -->
        <div
          class="relative overflow-hidden duration-700 max-h-0"
          x-ref="question1"
          x-bind:style="open ? 'max-height: ' + $refs.question1.scrollHeight + 'px' : ''"
        >
          <div class="mt-3 text-base leading-relaxed text-blue-800 sm:text-lg">
            Our team checks all your figures for you and provides weekly reports
            detailing any missing data and any anomalies.
          </div>
        </div>
      </li>

      <!-- Question / Answer 5 -->
      <li
        class="w-full px-5 py-6 bg-white sm:px-12 sm:py-8 rounded-3xl"
        x-data="{ open: false }"
      >
        <!-- Question -->
        <button
          class="flex items-center justify-between w-full text-lg sm:text-xl group"
          @click="open = !open"
        >
          <span
            class="font-medium text-left text-blue-900 duration-300 ease-in-out group-hover:text-blue-600"
          >
            We track custom metrics, are you able to handle this?
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-5 h-6 ml-3 text-blue-700 duration-300 ease-in-out sm:w-6 sm:h-6 sm:ml-6 group-hover:text-blue-600"
            :class="{'rotate-180': open}"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </button>

        <!-- Answer -->
        <div
          class="relative overflow-hidden duration-700 max-h-0"
          x-ref="question1"
          x-bind:style="open ? 'max-height: ' + $refs.question1.scrollHeight + 'px' : ''"
        >
          <div class="mt-3 text-base leading-relaxed text-blue-800 sm:text-lg">
            Yes just tell us what you need and we can do it.
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
