<footer class="mx-8 flex items-center max-w-screen-xl pt-5 xl:mx-auto">
  <div
    class="pt-16 space-y-8 bg-white divide-y sm:pt-20 divide-purple-400/20 w-full"
  >
    <!-- Top section: blocks -->
    <div class="md:grid md:grid-cols-4 gap-12 pb-8">
      <!-- Block 1 -->
      <div class="flex flex-col col-span-2">
        <!-- Logo -->
        <div class="flex items-center">
          <div class="flex-grow-0 flex-shrink-0 w-60">
            <a href="index.html">
              <img src="images/whale-logo.png" alt="Bright" class="h-auto" />
            </a>
          </div>
        </div>

        <!-- Mission statement -->
        <div class="mt-6 text-lg text-purple-800">
          Portfolio management for leading private credit funds
        </div>

        <!-- Social links -->
        <div class="w-full mt-5 lg:mt-6">
         
        </div>
      </div>

      <!-- Block 2 -->
      <div class="hidden md:block">
        <h6 class="relative text-xl font-bold tracking-wide text-purple-900">
          <span class="relative z-20">Site Links</span>
          <span
            class="absolute left-0 z-10 w-12 h-1 rounded-lg bg-gradient-to-r from-blue-400 to-blue-500 -bottom-1"
          ></span>
        </h6>

        <!-- Site links -->
        <ul class="mt-6 text-lg divide-y divide-purple-400/20">
          <li
            class="pb-2 font-medium text-purple-700 duration-300 ease-in-out hover:text-blue-600"
          >
            <a href="index.html"> Home </a>
          </li>
          <li
            class="py-2 font-medium text-purple-700 duration-300 ease-in-out hover:text-blue-600"
          >
            <a href="/#about"> About us </a>
          </li>
          <li
            class="pt-2 font-medium text-purple-700 duration-300 ease-in-out hover:text-blue-600"
          >
            <a href="contact.html"> Contact us </a>
          </li>
        </ul>
      </div>

      <!-- Block 3 -->
      <div>
        <h6
          class="relative text-xl font-bold tracking-wide text-purple-900 mt-8 sm:mt-0"
        >
          <span class="relative z-20">Contact us</span>
          <span
            class="absolute left-0 z-10 w-12 h-1 rounded-lg bg-gradient-to-r from-blue-400 to-blue-500 -bottom-1"
          ></span>
        </h6>

        <!-- Contact information -->
        <ul class="flex flex-col mt-6 space-y-5">
          <!-- Address -->
          <li class="flex flex-shrink-0">
            <div>
              <span
                class="flex items-center justify-center bg-blue-200 rounded-2xl w-11 h-11"
              >
                <!-- TablerIcon name: mail -->
                <img src="images/whatsapp-business.svg" alt="whatsapp-logo" />
              </span>
            </div>
            <div class="flex-1 ml-3 xl:ml-4">
              <h5
                class="flex items-center text-base font-semibold text-purple-900"
              >
                WhatsApp
              </h5>
              <p
                class="mt-0.5 text-sm text-purple-800 leading-relaxed text-opacity-90"
              >
                +44 7835 006581
              </p>
            </div>
          </li>

          <!-- Email -->
          <li class="flex flex-shrink-0">
            <div>
              <span
                class="flex items-center justify-center bg-blue-600 rounded-2xl w-11 h-11"
              >
                <!-- TablerIcon name: mail -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6 text-blue-50"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="3" y="5" width="18" height="14" rx="2" />
                  <polyline points="3 7 12 13 21 7" />
                </svg>
              </span>
            </div>
            <div class="flex-1 ml-3 xl:ml-4">
              <h5
                class="flex items-center text-base font-semibold text-purple-900"
              >
                Email
              </h5>
              <p
                class="mt-0.5 text-sm text-purple-800 leading-relaxed text-opacity-90"
              >
                hello@whaleblue.me
              </p>
            </div>
          </li>

          <!-- Phone number -->
        </ul>
      </div>
    </div>

    <!-- Bottom section -->
    <div class="flex flex-col justify-between py-8">
      <!-- Copyright note -->
      <span class="text-base text-purple-800/90">
        © 2023 Whale Blue Ltd. All rights reserved.
      </span>
    </div>
  </div>
</footer>
