<section
  class="px-4 pt-16 pb-24 overflow-hidden sm:pb-28 md:pb-0 sm:pt-24 sm:px-6 lg:px-8"
>
  <!-- Container -->
  <div class="max-w-xl mx-auto md:max-w-screen-xl">
    <!-- Section header title and subtext  -->
    <div class="md:grid md:grid-cols-2 md:gap-12 lg:gap-16">
      <div>
        <h2 class="max-w-4xl text-purple-900 h2">
          Effortless portfolio management
        </h2>
        <p
          class="max-w-2xl mx-auto mt-4 text-xl leading-relaxed text-purple-800 sm:mt-5 lg:text-left"
        >
          Are you tired of the tedious and time-consuming task of managing your
          portfolio? Let us take the stress out of the equation for you. Our
          three-step process guarantees the best portfolio management
          experience, leaving you free to focus on the bigger things.
        </p>
      </div>
    </div>

    <!-- School programs -->
    <div class="mt-16 md:mt-72 md:grid md:grid-cols-2 md:gap-8 lg:gap-16 flex flex-col">
      <!-- Program 1 and background dotted line decorations -->
      <div class="relative order-1">
        <img
          src="images/curved-dotted-line.svg"
          class="absolute top-0 hidden -translate-y-1/2 md:block left-1/2"
          style="width: calc(50% + 4rem)"
        />

        <!-- Program 1 -->
        <div
          class="relative z-10 w-full px-8 py-10 sm:p-12 md:px-8 md:py-10 lg:p-12 bg-blue-200 rounded-3xl order-1"
        >
          <div class="flex flex-col justify-between">
            <div class="flex-1">
              <h3 class="text-purple-900 h3">Constant Support</h3>
              <p class="max-w-2xl mt-3 text-lg leading-loose text-purple-800">
                With your portfolio data in order, we provide ongoing analysis
                and monitoring of its performance. Our team of accountants take
                care of all necessary data entry, including chasing companies
                for financial data and continuous auditing, as well as producing
                all your reports for you. This way, you can be confident that
                your portfolio is always up-to-date and accurate, leaving you
                worry-free.
              </p>
              <div class="relative mt-8 aspect-w-3 aspect-h-2">
                <img
                  class="object-cover rounded-2xl"
                  src="images/whale_and_man.png"
                  alt="Program 01"
                />
              </div>
            </div>
            <div class="mt-8">
              <a
                href="/contact.html"
                class="font-medium text-white bg-blue-600 btn-sm hover:bg-blue-600 group"
              >
                Learn more

                <!-- Tablericon name: arrow-narrow-right -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 ml-3 group-hover:animate-horizontal-bounce"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <line x1="15" y1="16" x2="19" y2="12"></line>
                  <line x1="15" y1="8" x2="19" y2="12"></line>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <img
          src="images/looped-dotted-line.svg"
          class="hidden md:block absolute bottom-0 left-1/2 translate-y-[90%]"
          style="width: calc(50% + 4rem)"
        />
      </div>

      <!-- Program 2 -->
      <div
        class="relative w-full px-8 py-10 mt-12 bg-blue-100 sm:p-12 md:mt-0 md:px-8 md:py-10 lg:p-12 md:-translate-y-80 rounded-3xl order-2"
      >
        <div class="flex flex-col justify-between">
          <div class="flex-1">
            <h3 class="text-purple-900 h3">Effortless Set Up</h3>
            <p class="max-w-2xl mt-3 text-lg leading-loose text-purple-800">
              Our team of qualified accountants will handle the entire process
              of uploading and auditing your portfolio data. We'll ensure that
              it is accurate and complete, checking for missing information,
              duplicate entries, and other data inconsistencies. We'll then
              generate a report detailing any errors or discrepancies, so you
              can have peace of mind knowing your portfolio is in good hands.
            </p>
            <div class="relative mt-8 aspect-w-3 aspect-h-2">
              <img
                class="object-cover rounded-2xl"
                src="images/robot_upload.png"
                alt="Program 02"
              />
            </div>
          </div>
          <div class="mt-8">
            <a
              href="/contact.html"
              class="font-medium text-white bg-blue-600 btn-sm hover:bg-blue-600 group"
            >
              Learn more

              <!-- Tablericon name: arrow-narrow-right -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 ml-3 group-hover:animate-horizontal-bounce"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <line x1="15" y1="16" x2="19" y2="12"></line>
                <line x1="15" y1="8" x2="19" y2="12"></line>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- Program 3 -->
      <div
        class="relative w-full px-8 py-10 mt-12 sm:p-12 md:mt-0 md:col-start-2 md:px-8 md:py-10 lg:p-12 md:-translate-y-80 bg-blue-400 rounded-3xl order-3"
      >
        <div class="flex flex-col justify-between">
          <div class="flex-1">
            <h3 class="text-purple-900 h3">Stress-Free Management</h3>
            <p class="max-w-2xl mt-3 text-lg leading-loose text-purple-800">
              With our team handling your day-to-day portfolio management, you
              can relax and focus on the bigger things. Everything is handled
              for you behind the scenes, all you have to do is log in and see
              the results. And if you need anything specific, our team is always
              available to assist you. Don't waste any more time and energy
              managing your portfolio, let us do the work for you. Experience
              effortless portfolio management with us today!
            </p>
            <div class="relative mt-8 aspect-w-3 aspect-h-2">
              <img
                class="object-cover rounded-2xl"
                src="images/happy-whale.png"
                alt="Program 03"
              />
            </div>
          </div>
          <div class="mt-8">
            <a
              href="/contact.html"
              class="font-medium text-white bg-blue-600 btn-sm hover:bg-blue-600 group"
            >
              Learn more

              <!-- Tablericon name: arrow-narrow-right -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 ml-3 group-hover:animate-horizontal-bounce"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <line x1="15" y1="16" x2="19" y2="12"></line>
                <line x1="15" y1="8" x2="19" y2="12"></line>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
