<section class="px-4 pt-16 sm:px-6 lg:px-8">
  <!-- Container -->
  <div class="max-w-screen-xl mx-auto">
    <!-- Page header -->
    <div class="relative h-[600px] flex items-center flex-col justify-center">
      <h2 class="max-w-3xl mx-auto text-center text-purple-900 h1">
        Thank you
      </h2>
      <p
        class="max-w-2xl mx-auto mt-4 text-xl leading-relaxed text-center text-purple-800 sm:mt-5"
      >
        Thank you for getting in touch. We'll get back to you shortly.
      </p>
      <p
        class="max-w-2xl mx-auto mt-4 text-xl leading-relaxed text-center text-purple-800 sm:mt-5"
      >
        In the mean time why not check out our friends at the
        <a
          href="https://www.creditcrunch.blog/"
          target="_blank"
          class="text-blue-500 underline"
          >Credit Crunch</a
        >, for weekly updates on what's happening in the world of private
        credit.
      </p>

      <p
        class="max-w-2xl mx-auto mt-4 text-xl leading-relaxed text-center text-purple-800 sm:mt-5"
      >
        If you have a specific question you can also email us
        <strong>(hello@whaleblue.me)</strong> or <strong>WhatsApp</strong> us
        <strong>(+44 7835 006581)</strong>.
      </p>
    </div>
  </div>
</section>
